
body{
    flex-direction: column;
    display: flex;
    align-items: center;
    background:linear-gradient(90deg,rgb(121, 153, 156),rgb(51, 70, 90));
}
.btn-group{
    display: flex;
    flex-direction: row;
    margin-top: 20%;
    width: 200px;
}
.btn btn-primary{
    width: 250px;
}
input{
    border-radius: 20%;
}

table{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}
.navbar bg-body-tertiary{
    border-radius: 5%;


}
form{
    flex-direction: column;
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 10%;
    width: 450px;
    height: 450px;
    background: linear-gradient(45deg,rgb(126, 126, 248),rgb(52, 52, 253));
    border-radius: 10%;
}